RewriteEngine On

# Redirige toutes les requêtes vers le contrôleur frontal (index.php)
# sauf si le fichier ou le répertoire demandé existe réellement.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]