* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
main{
    background: #f4f6f8;
    min-height: 100vh;
}
/* Accueil etudiant */
.navbar {
    background: #09315e;
    color: white;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h2{
    font-size: 20px;
    font-weight: bold;
}
.logo small{
    margin-left: 30px;

}

/* droite */
.menu {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* icônes */
.icon {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

/* bouton dépôt */
.btn-depot {
    background: #2ed573;
    color: white;
    padding: 7px 12px;
    border-radius: 6px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

/* profil */
.profile {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: white;
}

/* avatar initiales */
.avatar {
    width: 35px;
    height: 35px;
    background: #3742fa;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
}

.icon {
    position: relative;
}

.badge {
    position: absolute;
    top: -5px;
    right: -8px;
    background: red;
    color: white;
    font-size: 12px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* barre de recherche */
.search-bar{
    background: white;
    width: 400px;
    padding: 10px 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* icône recherche */
.search-bar i{
    color: gray;
}

/* input */
.search-bar input{
    border: none;
    outline: none;
    width: 100%;
    font-size: 15px;
}

/* dashboard */
.dashboard{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding:50px 20px 30px 30px;
}

/* card */
.dashboard-card{
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
    text-align: center;
}

/* nombre */
.dashboard-card h1{
    margin: 0;
    font-size: 35px;
    color: #1e293b;
}

/* texte */
.dashboard-card p{
    margin-top: 10px;
    color: gray;
    font-size: 15px;
}

/* filtres */
.filtres{
    margin-top: 30px;
    display: flex;
    gap: 15px;
    justify-content: center;
    border: 1px solid #fff;
    padding: 10px;
    width: 250px;
    background: white;
    border-radius: 10px;
    font-size:14px;
    margin-left: 30px;
}

/* bouton */
.filtre-btn{
    background: white;
    padding: 5px 10px;
    border-radius: 10px;
    text-decoration: none;
    color: #09315e;
    /* font-weight: bold;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08); */
}

/* hover */
.filtre-btn:hover{
    background: #09315e;
    color: white;
}

/* bouton actif */
.active{
    background: #09315e;
    color: white !important;
}